<div>
    <h1>Admin Login Page</h1>
    <form action="/adminvalidation" method="post">
        <label for="">Admin Name:</label>
        <input type="text" name="adminname">
</div><br>
<label for="">Admin Password:</label>
<input type="text" name="adminpassword">
</div><br>
<input type="submit" value="submit">
</div>

</form>
</div>

</body>