=
<h1>Admin</h1>
<form action="/addcontent" method="post">
    <h1>1)AddFiles</h1>
    <input type="submit" value="Addfiles">
</form>
<form action="/editcontent" method="post">
    <h1>2)EditFiles</h1>
    <input type="submit" value="Editfiles">
</form>
<form action="/deletecontent" method="post">
    <h1>3)DeleteFiles</h1>
    <input type="submit" value="Deletefiles">
</form>
</body>